@mixin button {
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  border-radius: 4px;
  border: none;
  padding: 7px 16px 8px;
  cursor: pointer;
  transition: all .3s ease;
}

@mixin hoverBtn {
  box-shadow: 0 0 10px 0px $blue;
}

@mixin activeBtn {
  transform: scale(.96);
}