.studies{
  margin-bottom: 128px;

  &__container-top{
    border-bottom: 1px solid $grey;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container-top-title{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 18px;
  }

  &__container-top-title::after{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $black;
  }

  &__container-top-link{
    position: relative;
    font-size: 14px;
    line-height: 29px;
    color: $black;
    padding-right: 27px;
  }

  &__container-top-link::after{
    content: "";
    position: absolute;
    right: 0;
    transform: translateY(50%);
    display: inline-block;
    width: 19px;
    height: 14px;
    background-image: url("./../../images/arrow-right-icon.svg");
  }

  &__container-bottom{
    position: relative;
    display: flex;
    gap: 57px;
    background-color: $white;
    z-index: 4;
  }

  &__container-bottom::before{
    content: "";
    position: absolute;
    top: 75px;
    right: 70.5%;
    display: inline-block;
    width: 404px;
    height: 392px;
    background-image: url("./../../images/hero-section-bg-img.png");
    z-index: -1;
  }

  &__container-bottom-box{
    max-width: 696px;
    width: 100%;
    border: 1px solid $light-grey;
    box-shadow: 0px 24px 24px rgba(52, 52, 147, 0.32);
    border-radius: 8px;
  }

  &__left-img{
    max-width: 696px;
    width: 100%;
    height: 360px;
    // margin-bottom: 31px;
  }

  &__left-content{
    padding: 55px 0px 48px 24px;
    background-color: $white;
  }

  &__left-content-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $grey;
    margin-bottom: 4px;
  }

  &__left-content-text{
    font-size: 29px;
    line-height: 42px;
    color: $black;
  }

  &__bottom-list{
    max-width: 466px;
    width: 100%;
  }

  &__bottom-item{
    margin-bottom: 37px;
  }

  &__bottom-item-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $grey;
    margin-bottom: 7px;
  }

  &__bottom-item-text{
    font-size: 20px;
    line-height: 30px;
    color: $black;
  }
}